{% extends "home.html" %}
{% load i18n pagination_tags %}

{% block body_page_title %}
    {% trans 'Customers list' %}
{% endblock %}

{% block body_page_leftbar %}
    <a href="{% url 'register:create' %}" class="list-group-item">{% trans "Create new" %}</a>
{% endblock %}

{% block body_page_content %}

<form action="#" method="get" name="search">
    <div class="row">
      <div class="col-lg-8">
        {% if customers %}
        <p><span class="badge">{{ customers|length }}</span> {% trans "customers." %}</p>
        {% else %}
        <p>{% trans "No customer found." %}</p>
        {% endif %}
      </div>
      <div class="col-lg-4">
        <div class="input-group">
          <input id="query_text" type="search" class="form-control clearable" name="q" value="{{ query|default:'' }}">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">{% trans 'Search' %}</button>
          </span>
        </div>
      </div>
    </div>
</form>

{% if customers %}

{% autopaginate customers 40 %}
<div style="min-height: 20px">
{% paginate using "pagination/bootstrap.html" %}
</div>

<table class="table table-bordered table-hover table-curved">
<thead>
    <tr>
        <th>{% trans "Username" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Date" %}</th>
    </tr>
</thead>
<tbody>
    {% for customer in customers %}
    <tr>
        <td>
            <button class="btn btn-default btn-sm pull-right" onclick="open_delete_modal('{{ customer }}', '{{ customer.id }}');">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
            <a href="{% url 'register:edit' customer.id %}">{{ customer.username }}</a>
        </td>
        <td onclick="document.location='{% url 'register:edit' customer.id %}';">{{ customer.get_title_display }}</td>
        <td onclick="document.location='{% url 'register:edit' customer.id %}';">{{ customer.first_name|default:"" }}</td>
        <td onclick="document.location='{% url 'register:edit' customer.id %}';">{{ customer.last_name|default:"" }}</td>
        <td onclick="document.location='{% url 'register:edit' customer.id %}';">{{ customer.email }}</td>
        <td onclick="document.location='{% url 'register:edit' customer.id %}';">{{ customer.creation_date|date:"SHORT_DATE_FORMAT" }}</td>
    </tr>
    <div class="hidden" id="customer_delete_url_{{ customer.id }}">{% url 'register:delete' customer.id %}</div>
    {% endfor %}
</tbody>
</table>

<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{% trans 'Delete customer' %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans 'You are about to delete Customer' %} <strong id="delete_modal_customer"></strong></p>
        <p>{% trans 'Do you want to proceed ?' %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="document.location=$('#customer_delete_url').text();">{% trans 'Proceed' %}</button>
      </div>
    </div>
  </div>
</div>
<div class="hidden" id="customer_delete_url"></div>

<div style="min-height: 20px">
{% paginate using "pagination/bootstrap.html" %}
</div>

{% endif %}

{% endblock %}

{% block footer_js_page %}
<script>
    open_delete_modal = function(name, id) {
        $('#delete_modal_customer').text(name)
        $('#customer_delete_url').text($('#customer_delete_url_'+id).text())
        $('#delete_modal').modal()
    };
    window.onload = function() {
        document.forms[0].q.focus();
    }
</script>
{% endblock %}
