{% load i18n staticfiles crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block headtitle %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block common_css %}{% endblock %}
    <style>
        .bandeau {background-color: rgba(0, 0, 0, 0.04); margin-bottom: 20px }
        .language {background-color: rgba(0, 0, 0, 0.1); margin-top: 20px}
    </style>
</head>

<body style="padding-top:60px;">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar nav-main clear" style="margin-bottom:0;">
                <a class="navbar-brand pull-left" href="/">Crispy test</a>
                <ul class="nav navbar-nav">
                    {% block navtop %}{% endblock %}
                </ul>
                {% if user.is_authenticated %}
                    <div class="nav-collapse">
                        <ul  class="nav pull-right">
                            <li class="pull-right dropdown">
                                <a class="user-tool" href="#" title="{% trans 'Click to logout' %}" data-toggle="dropdown">
                                    {% trans 'Welcome,' %} {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}
                                    <i class="glyphicon glyphicon-cog"></i>
                                </a>
                                <div class="dropdown-menu" role="menu" style="height: 40px">
                                    <p class="text-center" style="margin-top: 5px">{% spaceless %}
                                        <a href="{% url 'logout' %}">{% trans 'logout' %}</a>
                                    {% endspaceless %}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% else %}
                {% endif %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="row bandeau">
            <div class="col-sm-offset-1 col-sm-10">
                <h2 class='text-center'>{% block bodytitle %}{% endblock %}</h2>
            </div>
            <div class="col-sm-1 ">
            <select class="form-control input-sm language" title="{% trans 'change language' %}" onchange="change_language(this)">
              <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>{% trans 'English' %}</option>
              <option value="fr" {% if LANGUAGE_CODE == 'fr' %}selected{% endif %}>{% trans 'French' %}</option>
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 ">
                {% block navside %}{% endblock %}
            </div>
            <div class="col-sm-10 ">
                <div class="row" id="messages">
                    <div class="col-sm-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div id="main-content" class="container-fluid">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div id="footer" class="container-fluid">
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        var change_language = function(sel) {
            var value = sel.options[sel.selectedIndex].value;
            window.location = "/language/"+value+"/?next={{ request.path }}"
        }
    </script>
    {% block common_js %}{% endblock %}
</body>
</html>
