{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% block head_meta %}
    <meta charset="utf-8">
        {% block head_meta_language %}
        <meta http-equiv="content-language" value="{{ LANGUAGE_CODE|default:'fr-FR' }}">
        {% endblock %}
        {% block head_meta_httpequiv %}{% endblock %}
        {% block head_meta_viewport %}{% endblock %}
        {% block head_meta_author %}{% endblock %}
        {% block head_meta_description %}{% endblock %}
        {% block head_meta_keywords %}{% endblock %}
        {% block head_meta_othertags %}{% endblock %}
    {% endblock %}
    {% block head_favicon %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% endblock %}
    <title>{% block head_title %}{% endblock %}</title>
    {% block head_css %}
        {% block head_css_site %}{% endblock %}
        {% block head_css_page %}{% endblock %}
    {% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body>
    {% block body_top_navbar %}{% endblock %}
    {% block body_bandeau %}{% endblock %}
    {% block body_page %}{% endblock %}
    {% block body_footer %}{% endblock %}
</body>
    {% block footer_js %}
        <script src="{% static 'jquery/jquery.js' %}"></script>
        {% block footer_js_site %}{% endblock %}
        {% block footer_js_page %}{% endblock %}
    {% endblock %}
</html>
